#site {
	background-image: url(images/p2.jpg);
	background-repeat: repeat;
}
#page {
	text-align: center;
	width: 100%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#site #page table {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#content_index {margin: 0px;padding: 0px;height: 692px;width: 876px;background:url(images/Index_2B.jpg);position:relative;}
#content_o_akci {margin: 0px;padding: 0px;height: 636px;width: 854px;background:url(images/O_akci_2B.jpg);position:relative;}



#content_index li {margin: 0;padding: 0;list-style: none;display: block;position: absolute;}
#content_o_akci li {margin: 0;padding: 0;list-style: none;display: block;position: absolute;}
#content_tym li {margin: 0;padding: 0;list-style: none;display: block;position: absolute;}
#content_kontakt li {margin: 0;padding: 0;list-style: none;display: block;position: absolute;}


#content_index a {display: block;text-indent: -9999px;outline:none;}
#content_o_akci a {display: block;text-indent: -9999px;outline:none;}
#content_tym a {display: block;text-indent: -9999px;outline:none;}
#content_o_kontakt a {display: block;text-indent: -9999px;outline:none;}

#o_akci_index {left: 695px;top: 6px;}
#o_akci_tym {left: 682px;top: 443px;}
#o_akci_kontakt {left: 48px;top: 9px;}

#index_o_akci {left: 179px;top: 255px;}
#index_tym {left: 686px;top: 483px;}
#index_kontakt {left: 420px;top: 34px;}


#o_akci_index a {width: 136px;height: 95px;}
#o_akci_tym a {width: 156px;height: 118px;}
#o_akci_kontakt a {width: 188px;height: 91px;}

#index_o_akci a {width: 134px;height: 115px;}
#index_tym a {width: 146px;height: 117px;}
#index_kontakt a {width: 197px;height: 101px;}


#o_akci_index a:hover {background:url(images/O_akci_hover_index.jpg);}
#o_akci_tym a:hover {background: url(images/O_akci_hover_tym.jpg);}
#o_akci_kontakt a:hover {background: url(images/O_akci_hover_kontakt.jpg);}

#index_o_akci a:hover {background:url(images/Index_hover_o_akci.jpg);}
#index_tym a:hover {background: url(images/Index_hover_tym.jpg);}
#index_kontakt a:hover {background: url(images/Index_hover_kontakt.jpg);}
